
/* Parent container for the grid */
.bookmark-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Grid item styles */
.bookmark-item {
  position: relative;
  width: calc(100% / 3);
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url('../img/test_img.jpg');
  background-size: cover; /* Make the background image cover the entire element */
  color: white;
  word-wrap: break-word;
}



/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .bookmark-item {
    width: 100%;
    max-width: 100%;
    height: 100%; /* Set the height to 100% on smaller screens to maintain square aspect ratio */
  }
}
