.add-post-img-icon{
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 0px;
  width: 10vh;
  height: 10vh;
  display: block;
  transition-duration: 0.5s;
}

.add-post-img-icon:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.create-post-flex-div{
  width: 20%;
  flex-direction: column;
  position: relative;
  display: flex;
  position: fixed;
  height: 100vh;
  right: 0;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3%;
}

.feeds-flex-div{
  margin-left: 30%;
  width: 50%;
}