.desk-nav{
  background-image: linear-gradient(to right, orange , rgb(231, 8, 142));
  padding: 12px;
  display: block;
  color:white;
  position: sticky;
  top: 0;
  z-index:101;
  transition: 0.5s ease-in-out;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 30%;
  height: 5.5vh;
  border-radius: 12px;
  padding: 0.5%;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.search-bar:focus {
  border: 1px solid black;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.search-icon-inner-div {
  display: flex;
  align-items: center;
  height: 5.5vh;
  cursor: pointer;
  padding: 1%;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 4px; /* Adjust as needed */
  font-size: 14px; /* Adjust as needed */
  border-radius: 12px;
}

.nav-links {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links:hover{
  text-decoration: underline;
}

/* Add these styles for the scrolled state */
.desk-nav.scrolled {
  background-image: linear-gradient(to right, white , white);
  color: orange;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: 0.5s ease-in-out;
}

/* Adjust text color for the scrolled state */
.desk-nav.scrolled .nav-links {
  color: orange;
}


/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .desk-nav{
    display: none;
  }
}