.profile-side-nav-links{
  padding: 2vh;
  transition: all 0.5s ease;
  background-color: orange;
  color: white;
  border-radius: 12px;
  font-weight: 400;
}

.profile-side-nav-links:hover {
  background-color: rgb(255, 199, 94);
}

.profile-side-nav-link-active {
  padding: 2vh;
  transition: all 0.5s ease;
  background-color: orange;
  color: white;
  border-radius: 12px;
  font-weight: 400;
  border: 1px solid white;
  background-color: rgb(255, 199, 94);
}

.profile-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(black, white);
  max-height: 100%;
}

